In [2]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [3]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [4]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [7]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "33.749, -84.38798",  #atlanta coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is China Breeze Underground.
Missing field/result... skipping.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is Beni's Cubano.
Missing field/result... skipping.
------------
Retrieving Results for Index 2: czech.
Closest czech restaurant is BQE Restaurant & Lounge.
------------
Retrieving Results for Index 3: french.
Closest french restaurant is Nikolais Roof.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is Der Biergarten.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is Anatolia Cafe & Hookah Lounge.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Mangos.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is Fred's Country Kitchen.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is NaanStop.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is WIN Indonesian Grill & Gastrobar.
Missing field/result... skipping.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is Meehan's Public House Downtown.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is Aviva by Kameel.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is Slice Downtown.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Yumm Teriyaki.
------------
Retrieving Results for Index 14: jewish.
Closest jewish restaurant is Reuben's Deli.
Missing field/result... skipping.
------------
Retrieving Results for Index 15: korean.
Closest korean restaurant is KO KOREA FUSION & BBQ.
Missing field/result... skipping.
------------
Retrieving Results for Index 16: lebanese.
Closest lebanese restaurant is Baraka Sharwarma Mediterenean.
------------
Retrieving Results for Index 17: mexican.
Closest mexican restaurant is Moe's Southwest Grill.
------------
Retrieving Results for Index 18: new american.
Closest new american restaurant is JP Atlanta.
------------
Retrieving Results for Index 19: pakistani.
Closest pakistani restaurant is NaanStop.
------------
Retrieving Results for Index 20: polish.
Closest polish restaurant is Chicago's Maxwell Street Style Polish.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: russian.
Closest russian restaurant is Sun Dial.
------------
Retrieving Results for Index 22: scandinavian.
Closest scandinavian restaurant is Saxbys Georgia State University.
------------
Retrieving Results for Index 23: scottish.
Closest scottish restaurant is Willy's Mexicana Grill.
------------
Retrieving Results for Index 24: soul food.
Closest soul food restaurant is Fred's Country Kitchen.
------------
Retrieving Results for Index 25: spanish.
Closest spanish restaurant is No Mas! Cantina.
------------
Retrieving Results for Index 26: thai.
Closest thai restaurant is Noodle Cafe.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: turkish.
Closest turkish restaurant is Anatolia Cafe & Hookah Lounge.
------------
Retrieving Results for Index 28: ukrainian.
Closest ukrainian restaurant is 55th & Park Restaurant and Lounge.
Missing field/result... skipping.
------------
Retrieving Results for Index 29: vietnamese.
Closest vietnamese restaurant is Pho King Express.
Missing field/result... skipping.
------------

In [8]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,China Breeze Underground,"96 Upper Alabama St, Atlanta",,
1,cuban,Beni's Cubano,"C, 231 Peachtree St NE #15, Atlanta",,
2,czech,BQE Restaurant & Lounge,"262 Edgewood Ave NE, Atlanta",2,4
3,french,Nikolais Roof,"Hilton Atlanta, 255 Courtland St NE, Atlanta",4,4.4
4,german,Der Biergarten,"300 Marietta St NW, Atlanta",2,4.4
5,greek,Anatolia Cafe & Hookah Lounge,"Peachtree St, Atlanta",2,4.2
6,haitian,Mangos,"180 Auburn Ave NE, Atlanta",2,3.8
7,hungarian,Fred's Country Kitchen,"132 Mitchell St SW, Atlanta",1,4.1
8,indian,NaanStop,"64 Broad St NW, Atlanta",1,4.2
9,indonesian,WIN Indonesian Grill & Gastrobar,"2285 Peachtreet St NW, Atlanta",,
10,irish,Meehan's Public House Downtown,"200 Peachtree St NE, Atlanta",2,4.3
11,israeli,Aviva by Kameel,"225 Peachtree St NE, Atlanta",2,4.8
12,italian,Slice Downtown,"85 Poplar St NW, Atlanta",1,4.4
13,japanese,Yumm Teriyaki,"87 Peachtree St SW, Atlanta",1,3.7
14,jewish,Reuben's Deli,"57 Broad St NW, Atlanta",,
15,korean,KO KOREA FUSION & BBQ,"16 Park Place, South SE, Atlanta",,
16,lebanese,Baraka Sharwarma Mediterenean,"68 Walton St NW, Atlanta",1,4.6
17,mexican,Moe's Southwest Grill,"171 Auburn Ave NE, Atlanta",1,3.5
18,new american,JP Atlanta,"230 W Peachtree St NW, Atlanta",3,4
19,pakistani,NaanStop,"64 Broad St NW, Atlanta",1,4.2
20,polish,Chicago's Maxwell Street Style Polish,"211 peachetree st sw, Atlanta",,
21,russian,Sun Dial,"210 Peachtree St NW, Atlanta",3,4.3
22,scandinavian,Saxbys Georgia State University,"100 Decatur St SE, Atlanta",1,3
23,scottish,Willy's Mexicana Grill,"Georgia State Campus, 100 Piedmont Ave SE, Atl...",1,4
24,soul food,Fred's Country Kitchen,"132 Mitchell St SW, Atlanta",1,4.1
25,spanish,No Mas! Cantina,"180 Walker St SW ste b, Atlanta",2,4.3
26,thai,Noodle Cafe,"233 Peachtree St # B70, Atlanta",,
27,turkish,Anatolia Cafe & Hookah Lounge,"Peachtree St, Atlanta",2,4.2
28,ukrainian,55th & Park Restaurant and Lounge,"55 Park Pl NE, Atlanta",,
29,vietnamese,Pho King Express,"18 Park Pl NE S, Atlanta",,